<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!--
    <logger name="io.takari.bpm.state.StateHelper" level="TRACE"/>
    <logger name="io.takari.bpm.AbstractEngine" level="TRACE"/>
    -->

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
